body {
    font-family: 'Assistant', sans-serif;
}

#error-tag {
    color:red;
}

i {
    color: red;
}

#loginHand {
    color: black;
}

#WelcomeHeader {
    padding-top: 3rem;
}

#logInContainer {
    padding-top: 1rem;
}

